<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-21thread] [%-5level] [%-25logger{0}] - %msg%n" />
	
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="GameScheduler" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/scheduler.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/scheduler-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="GameDayChannelManager" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/gdc-manager.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/gdc-manager-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="NHLBot" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhlbot.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/nhlbot-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="NHLBotError" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhlbot.err</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/nhlbot-%i.err.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="System" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/system.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/system-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="SystemErr" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/system.err</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/system-%i.err.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <root level="info">
      <appender-ref ref="Console"/>
      <appender-ref ref="System"/>
    </root>
    
    <logger name="com.kennycason.kumo.*" level="warn" additivity="false">
      <appender-ref ref="Console"/>
    </logger>
    
    <logger name="com.hazeluff.discord.bot.ExceptionHandler" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="SystemErr"/>
    </logger>
    
    <logger name="com.hazeluff.discord.*" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="NHLBot"/>
    </logger>
    
    <logger name="com.hazeluff.discord.*" level="warn" additivity="false">
      <appender-ref ref="NHLBotError"/>
    </logger>
    
    <logger name="com.hazeluff.discord.bot.gdc.GameDayChannelsManager" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="GameDayChannelManager"/>
    </logger>
    
    <logger name="com.hazeluff.discord.nhl.GameScheduler" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="GameScheduler"/>
    </logger>
    
    <logger name="com.hazeluff.nhl.game.Game" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="GameScheduler"/>
    </logger>
    
    <logger name="com.hazeluff.discord.nhl.GameTracker" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="GameScheduler"/>
    </logger>
    
    
</configuration>