<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%-21thread] [%-5level] [%-25logger{0}] - %msg%n" />
	
    <statusListener class="ch.qos.logback.core.status.NopStatusListener" />
    
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="NHLGameScheduler" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhl-scheduler.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/nhl-scheduler-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="AHLGameScheduler" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/ahl-scheduler.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/ahl-scheduler-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="NHLGDW" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhl-gdt-watch.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/nhl-gdt-watch-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="NHLGDT" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhl-gdt.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/nhl-gdt-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="NHLGDCManager" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhl-gdc-mngr.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/nhl-gdc-mngr-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="AHLGDW" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/ahl-gdt-watch.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/ahl-gdt-watch-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="AHLGDT" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/ahl-gdt.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/ahl-gdt-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="Gateway" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/gateway.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/gateway-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="NHLBot" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhlbot.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/nhlbot-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="NHLBotError" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/nhlbot.err</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/nhlbot-%i.err.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="System" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/system.log</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/system-%i.log.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <appender name="SystemErr" class="ch.qos.logback.core.rolling.RollingFileAppender">
      <file>logs/system.err</file>
      <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
        <fileNamePattern>logs/older/system-%i.err.zip</fileNamePattern>
        <minIndex>1</minIndex>
        <maxIndex>2</maxIndex>
      </rollingPolicy>
      <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
        <maxFileSize>5MB</maxFileSize>
      </triggeringPolicy>
      <encoder>
        <pattern>${pattern}</pattern>
      </encoder>
    </appender>
    
    <logger name="com.hazeluff.discord.bot.gdc.nhl.NHLGameDayWatchChannel" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="NHLGDW"/>
    </logger>
    
    <logger name="com.hazeluff.discord.bot.gdc.nhl.NHLGdcGuildManager" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="NHLGDCManager"/>
    </logger>
    
    <logger name="com.hazeluff.discord.bot.gdc.nhl" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="NHLGDT"/>
    </logger>
    
    <logger name="com.hazeluff.discord.bot.gdc.ahl.AHLWatchChannel" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="AHLGDW"/>
    </logger>
    
    <logger name="com.hazeluff.discord.bot.gdc.ahl" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="AHLGDT"/>
    </logger>
    
    <logger name="com.hazeluff.discord.nhl" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="NHLGameScheduler"/>
    </logger>
    
    <logger name="com.hazeluff.nhl.game" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="NHLGameScheduler"/>
    </logger>
    
    <logger name="com.hazeluff.discord.ahl" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="AHLGameScheduler"/>
    </logger>
    
    <logger name="com.hazeluff.ahl.game" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="AHLGameScheduler"/>
    </logger>
    
    <logger name="com.hazeluff.nhl.NHLGateway" level="info" additivity="false">
      <appender-ref ref="Gateway"/>
    </logger>
    
    <logger name="com.hazeluff.ahl.AHLGateway" level="info" additivity="false">
      <appender-ref ref="Gateway"/>
    </logger>
    
    <logger name="com.hazeluff.discord.bot.ExceptionHandler" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="SystemErr"/>
    </logger>
    
    <logger name="com.hazeluff.discord" level="info" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="NHLBot"/>
    </logger>
    
    <logger name="com.hazeluff.discord" level="warn" additivity="false">
      <appender-ref ref="Console"/>
      <appender-ref ref="NHLBotError"/>
    </logger>
    
    <root level="info">
      <appender-ref ref="Console"/>
      <appender-ref ref="System"/>
    </root>
</configuration>